


<!doctype html>
<html>
    <head>
        <!--demonstration of using the svg 'use' element to create a pictogram-->
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" /> -->
        <!-- <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
		<script src="//cdn.jsdelivr.net/jquery.ui.touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script> -->
		<!-- <link rel="stylesheet" href="style.css"> -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>

		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->

 
    </head>
 
    <body>

			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<form>
						  <div class="form-group">
							<label for="country-form">country</label>
							<input class="form-control" id="country-form-input" name="country-form" type="text" placeholder="US">
						  </div>

						  	<div class="form-group">
								<label for="date-form">year</label>
								<input class="form-control" id="date-form-input" name="date-form" type="text" placeholder="2002">
							</div>
						  <button id="submit" type="submit" class="btn btn-default">Submit</button>
						</form>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h1>Isotype Graphs</h1>
						<ul class="summary"></ul>
					</div>
				</div>
			</div>

			<div id="isotype-box"></div>

				  
				 
				 
				<!-- <div class="float-right"> -->
				<!-- <div class="container"></div>
					<div class="row">
						<div class="col-md-12"> -->

							<!-- <svg width="300" height="100" id="svg1"></svg> -->

							<!-- <svg id="svg1"></svg>
						</div>
					</div>
				</div> -->

				<!-- <div class="float-right"> -->
				<!-- <div class="container">
						<div class="row">
							<div class="col-md-12"> -->

								<!-- <svg width="300" height="100" id="svg2"></svg> -->

								<!-- <svg id="svg2"></svg>
							</div>
						</div>
				</div> -->



				  
			<!-- <use xlink:href="#iconCustom" /> -->

		<!--<svg width="300" height="300" id="svg1"></svg>-->


		<!-- <svg width="300" height="300" id="svg2"></svg> -->


		<!-- <use xlink:href="#iconCustom2" /> -->
		<!--<div></div>
		<use xlink:href="#iconCustom" />
		<use xlink:href="#iconCustom2" />-->



		  <!-- <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script> -->
		  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
		  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
		  <!-- <script src="{{ url_for('static', filename='js/bonus.js') }}"></script> -->
		  <script src="{{ url_for('static', filename='js/app.js') }}"></script>






		<!-- <script src="app.js"></script> -->
<footer>

	
</footer>
		


		
		<!--<script src="app2.js"></script>-->
    </body>
</html>