
svg {
  overflow:none;
  padding:0px;
  float:left;
  width:300px;
  height:300px;
  display: hidden;
}



text    {
  fill:#bb6d82;
  text-anchor:left;
  font-size:5px;
  font-family:sans-serif,Helvetica,Arial;
  font-weight:bold;
}

.iconPlain  {
  /*fill:#a7a59b;  */ 
  fill:white;  
}

.iconSelected  {
  /*fill:#bb6d82;  */ 
  fill:purple; 
}

.iconPlain2  {
  /*fill:#a7a59b;  */ 
  fill:white;  
}

.iconSelected2  {
  /*fill:#bb6d82;  */ 
  fill:red; 
}

rect    {
  fill:#fff1e0;   
}

rect2    {
  fill:pink;   
}

.selected {fill:purple;}
.selected2 {fill:navy;}
.selected3 {fill:hotpink;}
.selected4 {fill:steelblue;}


/* #svg1 {
  position: absolute;
  right: 0;
  bottom: 0;
}

#svg2 {
  position: absolute;
  right: 0;
  bottom: 50;
} */

