

.form-group {
    background-color: rgba(255, 255, 255, 0)
}


#goTime {
    display: block
}


#stopTime {
    display: none
}

/* html, body{padding: 0; margin: 0;} */
#globebox{ top: 0; right: -33%; bottom: 0; left: 0; position: absolute !important; 
    z-index: -99;
}
#timeline{
    width: 30vw;

    position: relative;
    margin-left: 5vw;
    display: block;
    z-index: 50;
}


.cesium-viewer-animationContainer {
        right: 5vw;
}