
.wrapper {
    display: flex;
    margin: -100%;
    width: 100%;
    height: 100%;
    align-items: stretch;
    /* z-index: -99; */
}

#sidebar {
    width: 33vw;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}
#sidebar.active {
    margin-left: -33vw;
}
#content  {
    z-index: -50;
    margin-left:0;
}

#content.active {
    margin-left: 33vw;
}

li{
    padding-left: 2vw;
    color: white;
}
a {
    color: white;
} 
a[data-toggle="collapse"] {
    position: relative;

    margin-right: 1vh;
}


.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    left: 5vw;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -333vh;
    }
    #sidebar.active {
        margin-left: 0;
    }

}

#graphlocation {
    width: 30vw;
    height: 30vh;
    border: 15px solid grey;
    padding: 25px;
    margin: 1.5vw;
  }

.form-group {
    background-color: rgba(255, 255, 255, 0)
}


#goTime {
    display: block
}


#stopTime {
    display: none
}

/* html, body{padding: 0; margin: 0;} */
#globebox{ top: 0; right: -33%; bottom: 0; left: 0; position: absolute !important; z-index: -99;}
#timeline{
    width: 30vw;
    /* position: relative; */
    left: 5vw;
    display: inline-block;
    z-index: 50;
}


.cesium-viewer-animationContainer {
        right: 5vw;
}