<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Dashboard</title>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>

  <!-- Bootstrap core CSS -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Plugin CSS -->
  <link href="../static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="../static/css/freelancer.min.css" rel="stylesheet">
  <link href="../static/css/style.css" rel="stylesheet">


 <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/isostyle.css') }}"> -->









  <!-- Cesium Globe -->
  <script src="https://cesiumjs.org/releases/1.52/Build/Cesium/Cesium.js"></script>
  <link href="https://cesiumjs.org/releases/1.52/Build/Cesium/Widgets/widgets.css" rel="stylesheet">


  <!-- Font Awesome JS (Buttons)-->
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" style="margin-left:-100px;" href="#page-top">Human Trafficking and Migration dashboard</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" style="margin-right:-150px;" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a>
            </li>
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#globe">Globe</a>
            
          </li>

          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Plot</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead bg-primary text-white text-center">
    <div class="container">

        <!-- <h1 class="text-uppercase mb-0">Human Trafficking and Migration</h1> -->
        <img class="img-fluid" style="margin-top:-97px" style="height: 400px" src="../static/img/TIPSOM_Website.jpg" alt="">
      </div>
    </div>
  </header>
  <!-- About Section -->
  <section class="bg-primary text-white mb-0" id="about">
    <h2 class="text-center text-uppercase text-white">Goals</h2>
    <hr class="star-light">
    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 mr-auto">
      <p class="lead">&emsp;Determine effect of GDP, Gender, age and other reasons impacting the number of people migrated or number of people trafficked.</p>
      <p class="lead">&emsp;Spatial analysis of host countries locations.</p>
    </div>
</section>

  <section class="bg-primary text-white mb-0" id="globe">
    <h2 class="text-center text-uppercase text-white">Globe</h2>
    <hr class="star-light mb-5">
    <div class="row">
    <div id="globebox">

      <div id="cesiumContainer">
       
          <div id="timeline">
                  <button type="button" id="noShare" class="btn btn-info">Toggle Unshared</button>
     
              <button type="button" id="goTime" class="btn btn-info">
                      <i class="fas fa-play-circle"></i>
                      <span>Play Animation</span>
                  </button>  
              <form>
                  <div class="form-group">
                      <label for="formControlRange" id="timesliderlabel"><h1><b>2018</b></h1></label>
                      <input type="range" class="form-control-range" id="timeSlider" min="2002" max="2017" step="1" value="2017">
                  </div>
              </form>
           </div>
     
      </div>           
    </div>
  </section>


  <!-- Chart Section -->
  <section class="portfolio" id="portfolio">
    <div class="container">
      <h2 class="text-center text-uppercase text-secondary mb-0">Total number of people that migrated per country and age group over 1990 - 2017</h2>
      <hr class="star-dark mb-5">

      <div class="row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <div class="text-center">
            <select id="countrySelectStackedBar" onchange="optionChangedStackedBar(this.value)"></select>
          </div>
        </div>
		
		

      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div id='stackedBar'></div>
        </div>
      </div>
      




  </section>

  <!-- Contact Section -->
<div class="text-left">
       <!-- Footer -->
  <footer class="footer text-center ">
    <div class="container ">
      <div class="row ">
        <div class="col-md-4 mb-5 mb-lg-0 ">
          <h4 class="text-uppercase mb-4 ">Powered by:
            <a href="https://github.com/benieevelyne">Evelyne Benie</a>,
            <a href="https://github.com/mtabaka">Matt Tabaka</a>,
            <a href="https://github.com/XanderRoy">Xander Roy</a>,
            <a href="https://github.com/mcpa0003">Mike McPartlin</a>
          </h4>
        </div>
        <div class="col-md-4 mb-5 mb-lg-0 ">

          <li class="list-inline-item ">
            <a href="https://github.com/benieevelyne/Project2_Neurath">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>

            </a>
          </li>
          </ul>
        </div>
        <div class="col-md-4 ">
          <a href="https://bootcamp.umn.edu/data/">
            UMN Data Science, Visualization and Analytics Boot Camp,2018 </a>
          </p>
        </div>
      </div>
    </div>
  </footer>


  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded " href="#page-top ">
      <i class="fa fa-chevron-up "></i>
    </a>
  </div>





      <!-- Bootstrap core JavaScript -->
      <script src="../static/vendor/jquery/jquery.min.js "></script>
      <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js "></script>

      <!-- Plugin JavaScript -->
      <script src="../static/vendor/jquery-easing/jquery.easing.min.js "></script>
      <script src="../static/vendor/magnific-popup/jquery.magnific-popup.min.js "></script>


      <!-- Custom scripts for this template -->
      <script src="../static/js/freelancer.min.js "></script>

      <script src="https://cdn.plot.ly/plotly-latest.min.js "></script>
      <script src="/static/js/nouislider.min.js "></script>
      <!-- <script src="/static/js/logic.js "> </script> -->
      <script src="{{ url_for( 'static', filename='js/dashboard.js' ) }} "></script>


      <!-- Globe Dependencies -->
      <!-- <script src="{{ url_for('static', filename='js/config.js') }}"></script> -->
      <script src="{{ url_for('static', filename='js/globe.js') }}"></script>
      <script src="{{ url_for('static', filename='js/inputs.js') }}"></script>
      <script src="{{ url_for('static', filename='js/isotype.js') }}"></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>

      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
      <script src="{{ url_for('static', filename='js/isotype.js') }}"></script>







</body>

</html>